@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins
}

.active {

    background: linear-gradient(90deg, rgb(88, 1, 105) 0%, rgba(255, 0, 189, 1) 100%);
    background-clip: text;
    color: transparent;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
